<section class="py-5">
    <div class="container" style="max-width: 900px;">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">

            {{ content|raw }}

        </div>
    </div>
</section>