<section class="py-5 text-center bg-light">
    <div class="container">

        <h5 class="mb-3">
            Lancer une session
        </h5>

        <a href="{{ path('app_quran_session_new') }}" class="btn btn-success me-2">
            Créer une session
        </a>

        <a href="{{ path('app_home') }}" class="btn btn-outline-secondary">
            Retour à l’accueil
        </a>

    </div>
</section>