<div class="row text-center mb-4">

<div class="col-6 col-md-3">
<div class="card p-3 shadow-sm">
<h5>{{ dashboardStats.sessions }}
</h5>
<p>Sessions</p>
</div>
</div>

<div class="col-6 col-md-3">
<div class="card p-3 shadow-sm">
<h5>{{ dashboardStats.completedSessions }}
</h5>
<p>Khatm terminés</p>
</div>
</div>

<div class="col-6 col-md-3">
<div class="card p-3 shadow-sm">
<h5>{{ dashboardStats.hizbCompleted }}</h5>
<p>Hizb lus</p>
</div>
</div>

<div class="col-6 col-md-3">
<div class="card p-3 shadow-sm">
<h5>{{ dashboardStats.participants }}</h5>
<p>Participants</p>
</div>
</div>


</div>